//colors
$steelblue: #4965a4;
$seagreen: #377870;
$gray: #545d5a;
$black: #212529;
$cornsilk: #fff3df;

//fonts
$font-stack-primary: "Raleway", sans-serif;
$font-stack-secondary: "Playfair Display", serif;
$font-stack-tertiary: "Yeseva One", cursive;
