@import "../../styles/variables.scss";

.home {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  h4 {
    font-family: $font-stack-secondary;
    font-size: 2rem;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
