.studio-root {
  margin-top: 2rem;
  @include bp(md) {
    @include flex-root;
    margin-top: 0;
  }
}

.studio-container {
  @include flex-column;

  @include bp(md) {
    @include flex-column-center;
    border-top: 1px solid $steelblue;
    border-bottom: 1px solid $steelblue;
    padding: 2rem 0 2rem 0;
  }
}
.studio-name-container {
  margin-bottom: 1rem;
  @include bp(md) {
    margin-bottom: 1.5rem;
  }
}

.studio-name {
  font-family: $font-stack-secondary;
  font-size: 1.25rem;
  @include bp(md) {
    font-size: 1.5rem;
  }
}
.studio-desc-container {
  @include flex-column;
  @include bp(md) {
    @include flex-row;
  }
}

.studioinfo-links {
  color: $black;
}

.studioinfo-links:hover {
  color: $seagreen;
}
.studioinfo-icons {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: $seagreen;
}
